.error_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;

  .message {
    color: white;
    margin-top: 20px;
    text-align: center;
  }
}
